<div class="mt-5" style="background-color: black">
  <h2 style="color: white">Add Note</h2>
  <button routerLink="create">Create new note</button>
  @if(note.length >0){

  <div class="row main mt-5">
    <div
      *ngFor="let note of note"
      class="card h-100"
      [style]="getBgColor(note.color)"
      style="width: 18rem"
    >
      <div class="card-body" style="gap: 3px">
        <h5 class="card-title">Title:{{ note.title }}</h5>
        <p class="card-text">Description:{{ note.description }}</p>
        <p class="card-text">create on:{{ note.date }}</p>
        <button class="card-link" [routerLink]="'edit/' + note.id">Edit</button>
        <a (click)="deleteNote(note.id)" class="card-link"
          ><button>Delete</button></a
        >
      </div>
    </div>
  </div>
  }@else{
  <div class="alert alert-secondary mt-5 fs-4" role="alert">
    You did't have any note,Please create First.
  </div>
  }
</div>
